# Server
PORT=3000
NODE_ENV=development

# Database (PostgreSQL)
DB_HOST=localhost
DB_PORT=5432
DB_NAME=verivote
DB_USER=postgres
DB_PASSWORD=postgres

# JWT
JWT_SECRET=verivote-secret-key-change-in-production-2026
JWT_EXPIRES_IN=7d

# Blockchain
BLOCKCHAIN_RPC_URL=http://127.0.0.1:8545
BLOCKCHAIN_PRIVATE_KEY=0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80
# ^ This is Hardhat's default account #0 private key (DO NOT use in production!)
